@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #faf7e5;
    --color-biza:rgb(138, 5, 5);
    --color-black: #212121;
    --color-black-heavy: #000000;
    --color-text: #1a1818;
    --color-text-out: #242423;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}


html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}

.color-primary {
    color: var(--color-biza);
}

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-white.active, .btn-white:hover {
    background-color: var(--color-biza);
    color: var(--color-secondary) !important;
}
.btn-white:hover{
    & .icon{
        color: var(--color-secondary);
    }
}

.btn-icon {
    padding-right: 75px;
}

.btn-icon .icon {
    display: inline-block;
    color: var(--color-black);
    background-color: var(--color-biza);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.banner {
    padding-top: 90px;
    padding-bottom: 100px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
}

.text-banner p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn-yellow {
    background-color: var(--color-biza);
    color: var(--color-white)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    &:hover{
        background: var(--color-secondary);
        color: var(--color-black-heavy) !important;
        cursor: pointer;
    }
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-biza);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-sm {
    padding: 9px 15px!important;
    border-radius: 15px!important;
    font-size: 18px!important;
}

.btn-social {
    width: 50px;
}


.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: var(--color-biza);
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner img {
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none!important;
}

.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}

.card-case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-biza);
    right: 20px;
    bottom: 10px;
}

.servicos {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hint-title {
    color: var(--color-biza);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    color: var(--color-black);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.card-icon {   
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: var(--color-text-out);
    font-size: 15px;
    padding: 0px 30px;
}

.card-text p {
    font-size: 22px;
    color: var(--color-black);
    margin-bottom: 10px;
}

.background-servicos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-2.png);
}

.cardapio {
    padding-top: 50px;
    padding-bottom: 100px;
}

.cardapio .background-cardapio {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-1.png);
}

.container-menu {
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
}

.cartao:hover{
    background: var(--color-biza);
    color: var(--color-secondary);
    cursor: pointer;
}

.card-item {
    min-height: 320px;
    max-height: 380px;
}

.card-item .img-produto img {
    width: 100%;
    max-height: 150px;
    border-radius: 11px;
}

.card-item .title-produto {
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

.card-item .price-produto {
    color: var(--color-biza);
    font-size: 24px;
}

.card-item .dsc-produto {
    color: var(--color-biza);
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limita a 3 linhas */
    overflow: hidden;      /* Esconde o conteúdo que ultrapassar as 3 linhas */
    text-overflow: ellipsis; /* Adiciona os "..." */
}

.card-item .add-carrinho {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-menos {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-mais {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-numero-itens {
    color: var(--color-black-heavy);
    padding: 2px 15px;
    border-top: 2px solid var(--color-black-heavy);
    border-bottom: 2px solid var(--color-black-heavy);
    font-size: 18px;
}

.btn-add {
    border: 2px solid var(--color-black-heavy);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
}

.reserva {
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-secondary {
    background-color: var(--color-secondary);
    border-radius: 70px;
    padding: 90px;
}

.card-reserva {
    height: 320px;
    width: 320px;
    border-radius: 120px;
    background-color: var(--color-white);
    position: absolute;
    right: 0;
    top: -25px;
}

.reserva .img-banner img {
    width: 100%;
}

footer{
    background-color: var(--color-secondary);
}

.logo-footer{
    width: 150px;
}

.container-logo-footer, .container-texto-footer, .container-redes-footer {
    display: flex;
    align-items: center;
}

.container-logo-footer {
    justify-content: start;
}

.container-texto-footer {
    justify-content: center;
}

.container-redes-footer {
    justify-content: end;
}

.modal-full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background: var(--color-white);
    z-index: 9990;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.m-header {
    padding-bottom: 20px;
}

.m-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.m-body::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.m-body::-webkit-scrollbar-thumb {
    background: var(--color-white);
}

.m-body::-webkit-scrollbar-track {
    background: transparent;
}

.etapas {
    display: flex;
}

.etapa {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.etapa::before {
    content: '';
    width: 20px;
    background-color: var(--color-separate);
    position: absolute;
    height: 2px;
    margin-left: 55px;
}

.etapa:last-child::before {
    content: none;
}

.etapa.active, .etapa.active::before  {
    background-color: var(--color-primary);
}

.title-carrinho {
    font-size: 20px;
    color: var(--color-black);
}

.modal-full .item-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-separate);
}

.modal-full .item-carrinho:last-child {
    border-bottom: none;
}

.modal-full .img-produto img {
    width: 100px;
    border-radius: 11px;
}

.modal-full .title-produto {
    color: var(--color-black);
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.modal-full .price-produto {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 0;
}

.modal-full .dados-produto {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-full .add-carrinho {
    display: flex;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-remove {
    border: 2px solid var(--color-red);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-red);
    margin-left: 15px;
}

.container-total {
    padding-top: 20px;
    border-top: 1px solid var(--color-separate);
}

.container-total .texto-entrega {
    color: var(--color-separate);
}

.container-total .texto-total {
    color: var(--color-black);
    font-size: 20px;
    margin-top: 10px;
}

.container-total .valor-total {
    color: var(--color-primary);
    font-size: 24px;
}

.form-control{
    background-color: var(--color-white);
    color: var(--color-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none!important;
}

select.form-control{
    height: 60px!important;
}

.container-cep .from-control{
    padding-right: 75px;
}

.container-cep .btn{
    position: absolute;
    right: 25px;
    top: 38px;
}

.img-produto-resumo img{
    width: 50px;
    border-radius: 11px;
}

.item-carrinho.resumo{
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-produto-resumo{
    color: var(--color-black);
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.preco-produto-resumo{
    color: var(--color-primary);
    font-size: 16px;
    margin-bottom: 0;
}

.quantidade-produto-resumo{
    color: var(--color-black);
    font-size: 20px;
    margin-bottom: 0;
}

.img-map{
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.texto-endereco{
    margin-bottom: 0;
    color: var(--color-black);
}

.cidade-endereco{
    margin-bottom: 0;
}

.badge-total-carrinho{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--color-secondary);
    border-radius: 50px;
    right: -5px;
    top: -5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-carrinho{
    position: fixed;
    right: 30px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    color: var(--color-black-heavy);
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

.container-mensagens{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.toast {
    color: var(--color-white);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.toast.red{
    background-color: var(--color-red);
}

.toast.green{
    background-color: var(--color-green);
}

.carrinho-vazio{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.carrinho-vazio i{
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

.modal-content .btn-confirm {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-content .btn-confirm:hover {
    background-color: var(--color-biza);
}

/* Fechar botão do modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* barra de navegaçao */
::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar */
    background-color: var(--color-secondary); /* Cor de fundo da barra */
    border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-biza); /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f1f1f1; /* Espessura e cor da borda */
    transition: background-color 0.3s; /* Suavidade na transição de cor */
}

/* Estilo para o Modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    inset: 0; /* Substitui top, left, width e height para melhor compatibilidade */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que esteja acima de outros elementos */
}

/* Conteúdo do Modal */
/* Modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fixo na tela */
    z-index: 1000; /* Ficar acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a tela */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    justify-content: center; /* Centraliza o modal horizontalmente */
    align-items: center; /* Centraliza o modal verticalmente */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: var(--color-secondary);
    padding: 50px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Mais espaço entre os campos */
}

/* Campos do Modal */
.modal input{
    padding: 10px;
    border: 2px solid var(--color-background);
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}

.modal textarea {
    padding: 1.5rem;
    border: 2px solid var(--color-background);
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}

.modal input:focus,
.modal textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botão de Fechar */
.close {
    cursor: pointer;
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
}

/* Botão de confirmar pedido */
.btn-confirm {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn-confirm:hover {
    background-color: #45a049;
}
